[submodule "pack/git-plugins/start/ale"]
	path = pack/git-plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/git-plugins/start/rust.vim"]
	path = pack/git-plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "pack/git-plugins/start/vim-go"]
	path = pack/git-plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
